<div class="white_space"></div>
  <div class="container_info">
    <h2 class="highlight">INFORMAÇÕES</h2>
    <p class="dark_text">O Cascais Groove, é um novo Festival direcionado para quem procura bem estar, boa música, comida saudável, decoração extremamente cuidada e momentos únicos. Durante o dia, o Groove By Day, oferece um espaço de lazer, para toda a família, onde se podem desfrutar de inúmeras experiências, sentimentos e partilhas. Tudo isto por um preço simbólico de 7€ (as crianças até aos 10 anos não pagam).</p>

    <p class="dark_text">Depois, quando a noite chega, as crianças ficam em casa e os pais podem descobrir um outro Groove – o Groove by night. Integrado num espaço único, onde a natureza nos acolhe, o Cascais Groove é um desafio para todos aqueles que querem viver um pouco mais aquilo que de melhor existe. O Groove, tem várias componentes que o torna distinto e à sua maneira alternativo, de onde se destacam o Organic Groove, Groove Kids, Being Groove, Groove Music, entre outros.</p>

    <div class="highlight_info">
      <p class="highlight bold center">Cascais Groove é muito mais que um Festival!</p>
      <p class="highlight bold center">É um SENTIMENTO! É uma Experiência! É uma ATITUDE!</p>
    </div>

    <%= image_tag("groove.png") %>

    <p class="dark_text">O Cascais GROOVE é um festival para todos!</p>
    <p class="dark_text">No Groove by day (apenas 25 e 26 de Junho) temos uma programação a pensar nos adultos e nas crianças. Durante o dia (apenas dias 25 e 26), entre as as 09:00 e as 16:30h temos um programa completo, com atividades para toda a família.</p>
    <p class="dark_text">Conheça o nosso programa completo <%= link_to('aqui', program_path) %>!</p>

    <section id="pricing">
      <h2 class="highlight">PREÇOS</h2>

      <h3 class="dark_text top">Groove by night (19h30 - 02h00)</h3>

      <p class="dark_text"><i class="fa fa-ticket icon_price"></i>24 de Junho - Rui Veloso | The Black Mamba: <span class="highlight bold">35€</span></p>
      <p class="dark_text"><i class="fa fa-ticket icon_price"></i>25 de Junho - Mayra Andrade | Jorge Palma & Sérgio Godinho - Juntos: <span class="highlight bold">30€</span></p>
      <p class="dark_text"><i class="fa fa-ticket icon_price"></i>26 de Junho - Miguel Araújo | Jamie Cullum: <span class="highlight bold">55€</span></p>

      <div class="call_to_buy">
        <a href="http://www.bol.pt/Comprar/Bilhetes/35492-cascais_groove_16-parque_de_palmela/" target="_blank">
          <button class="primary_button medium_button">
            <i class="fa fa-ticket"></i> COMPRAR BILHETES
          </button>
        </a>
      </div>


      <h3 class="dark_text top">Groove by day (09h00 - 16h30)</h3>

      <p class="dark_text"><i class="fa fa-ticket icon_price"></i>Crianças até 10 anos: <span class="highlight bold">Gratuito</span></p>
      <p class="dark_text"><i class="fa fa-ticket icon_price"></i>Adultos: <span class="highlight bold">7€</span></p>

      <div class="final_info">
        <p class="dark_text top">O bilhete do Groove by night é válido para o respetivo dia do Groove by day, no entanto caso as crianças queiram assistir aos concertos terão que adquirir bilhete do Groove by night, tal como os adultos.</p>
        <p class="dark_text">O bilhete do Groove by day NÃO é válido para nenhum dia do Groove by night.</p>
      </div>


      <div class="highlight_info">
        <p class="highlight bold center">Venham divertir-se em família.</p>
      </div>

    </section>
  </div>
</div>
