<div class="white_space"></div>
<div class="container_program">
  <h2 class="highlight">PROGRAMA</h2>

  <div class="program_choose_box">
    <span class="button_day button_day_1 underline">24</span> . <span class="button_day button_day_2">25</span> . <span class="button_day button_day_3">26</span>
  </div>

  <div class="display_program day_1">
    <h3 class="dark_text">Groove by night</h3>
    <p class="dark_text"><span class="bold" style="padding-left: 37px;">19h00:</span> Abertura de portas</p>
    <p class="dark_text"><i class="fa fa-circle organic_zone" aria-hidden="true" style="padding-right: 20px;"></i><span class="bold">19h00:</span> Início de Organic Groove – Gastronomia</p>
    <p class="dark_text"><i class="fa fa-circle being_zone" aria-hidden="true" style="padding-right: 20px;"></i><span class="bold">19h15:</span> FUNK YOU BRASS BAND</p>
    <p class="dark_text"><i class="fa fa-circle music_zone" aria-hidden="true" style="padding-right: 20px;"></i><span class="bold">21h45:</span> Rui Veloso</p>
    <p class="dark_text"><i class="fa fa-circle music_zone" aria-hidden="true" style="padding-right: 20px;"></i><span class="bold">00h00:</span> The Black Mamba – Acústico</p>
    <p class="dark_text"><i class="fa fa-circle music_zone" aria-hidden="true" style="padding-right: 20px;"></i><span class="bold">00h45:</span> DJ Carlos Vargas</p>
    <p class="dark_text"><span class="bold" style="padding-left: 37px;">02h00:</span> Encerramento de Portas</p>
  </div>


  <div class="no_display_program day_2">
    <h3 class="dark_text">Groove by day</h3>
    <p class="dark_text"><span class="bold" style="padding-left: 37px;">09h00:</span> Abertura de Portas</p>
    <p class="dark_text"><i class="fa fa-circle organic_zone" aria-hidden="true" style="padding-right: 20px;"></i><span class="bold">09h00:</span> Organic Groove Breakfast (das 09h às 11h)</p>
    <p class="dark_text"><i class="fa fa-circle kids_zone" aria-hidden="true" style="padding-right: 20px;"></i><span class="bold">09h00:</span> Ateliers Infantis a cargo do Atelier de São Bento (das 09h às 16h)</p>
    <p class="dark_text"><i class="fa fa-circle kids_zone" aria-hidden="true" style="padding-right: 20px;"></i><span class="bold">10h00:</span> Atividades dos 7 Reinos da Nutrição – Nutri Ventures (das 10h às 16h)</p>
    <p class="dark_text"><i class="fa fa-circle being_zone" aria-hidden="true" style="padding-right: 20px;"></i><span class="bold">11h00:</span> Volta ao Mundo em 10 instrumentos – Companhia Marimbondo</p>
    <p class="dark_text"><i class="fa fa-circle being_zone" aria-hidden="true" style="padding-right: 20px;"></i><span class="bold">12h00:</span> Workshop de Maquilhagem e Cabelo</p>
    <p class="dark_text"><i class="fa fa-circle organic_zone" aria-hidden="true" style="padding-right: 20px;"></i><span class="bold">12h00:</span> Organic Groove Brunch (das 12h às 15h)</p>
    <p class="dark_text"><i class="fa fa-circle kids_zone" aria-hidden="true" style="padding-right: 20px;"></i><span class="bold">14h00:</span> Presença das Mascotes Teo, Nina e Guga Púrpura – Nutri Ventures (das 14h às 16h)</p>
    <p class="dark_text"><i class="fa fa-circle kids_zone" aria-hidden="true" style="padding-right: 20px;"></i><span class="bold">15h00:</span> A Floresta – Marionetas de Mandrágora</p>
    <p class="dark_text"><i class="fa fa-circle being_zone" aria-hidden="true" style="padding-right: 20px;"></i><span class="bold">16h00:</span> Pianos no Parque</p>
    <p class="dark_text"><span class="bold" style="padding-left: 37px;">16h30:</span> Encerramento de Portas – Groove by day</p>

    <h3 class="dark_text">Groove by night</h3>
    <p class="dark_text"><span class="bold" style="padding-left: 37px;">19h30:</span> Abertura de Portas – Groove by night</p>
    <p class="dark_text"><i class="fa fa-circle being_zone" aria-hidden="true" style="padding-right: 20px;"></i><span class="bold">20h00:</span> JAZZ no Parque</p>
    <p class="dark_text"><i class="fa fa-circle music_zone" aria-hidden="true" style="padding-right: 20px;"></i><span class="bold">21h30:</span> Mayra Andrade</p>
    <p class="dark_text"><i class="fa fa-circle music_zone" aria-hidden="true" style="padding-right: 20px;"></i><span class="bold">23h00:</span> Jorge Palma &amp; Sérgio Godinho – Juntos</p>
    <p class="dark_text"><i class="fa fa-circle music_zone" aria-hidden="true" style="padding-right: 20px;"></i><span class="bold">00h30:</span> DJ Carlos Vargas</p>
    <p class="dark_text"><span class="bold" style="padding-left: 37px;">02h00:</span> Encerramento de portas</p>
  </div>

  <div class="no_display_program day_3">
    <h3 class="dark_text">Groove by day</h3>
    <p class="dark_text"><span class="bold" style="padding-left: 37px;">09h00:</span> Abertura de Portas</p>
    <p class="dark_text"><i class="fa fa-circle organic_zone" aria-hidden="true" style="padding-right: 20px;"></i><span class="bold">09h00:</span> Organic Groove Breakfast (das 09h às 11h)</p>
    <p class="dark_text"><i class="fa fa-circle kids_zone" aria-hidden="true" style="padding-right: 20px;"></i><span class="bold">09h00:</span> Ateliers Infantis a cargo do Atelier de São Bento (das 09h às 16h)</p>
    <p class="dark_text"><i class="fa fa-circle kids_zone" aria-hidden="true" style="padding-right: 20px;"></i><span class="bold">10h00:</span> Atividades dos 7 Reinos da Nutrição – Nutri Ventures (das 10h às 16h)</p>
    <p class="dark_text"><i class="fa fa-circle being_zone" aria-hidden="true" style="padding-right: 20px;"></i><span class="bold">11h00:</span> Concerto – Dar música às Flores</p>
    <p class="dark_text"><i class="fa fa-circle organic_zone" aria-hidden="true" style="padding-right: 20px;"></i><span class="bold">12h00:</span> Workshop de Nutrição por Mariana Pessanha</p>
    <p class="dark_text"><i class="fa fa-circle organic_zone" aria-hidden="true" style="padding-right: 20px;"></i><span class="bold">12h00:</span> Organic Groove Brunch (das 12h às 15h)</p>
    <p class="dark_text"><i class="fa fa-circle kids_zone" aria-hidden="true" style="padding-right: 20px;"></i><span class="bold">14h00:</span> Presença das Mascotes Teo, Nina e Guga Púrpura – Nutri Ventures (das 14h às 16h)</p>
    <p class="dark_text"><i class="fa fa-circle kids_zone" aria-hidden="true" style="padding-right: 20px;"></i><span class="bold">15h00:</span> Bzzzoira Moira – Marionetas de Mandrágora</p>
    <p class="dark_text"><i class="fa fa-circle being_zone" aria-hidden="true" style="padding-right: 20px;"></i><span class="bold">16h00:</span> Violinos no Parque</p>
    <p class="dark_text"><span class="bold" style="padding-left: 37px;">16h30:</span> Encerramento de Portas – Groove by day</p>

    <h3 class="dark_text">Groove by night</h3>
    <p class="dark_text"><span class="bold" style="padding-left: 37px;">19h30:</span> Abertura de Portas – Groove by night</p>
    <p class="dark_text"><i class="fa fa-circle being_zone" aria-hidden="true" style="padding-right: 20px;"></i><span class="bold">20h00:</span> Concerto com Aysedeniz Gokcin</p>
    <p class="dark_text"><i class="fa fa-circle music_zone" aria-hidden="true" style="padding-right: 20px;"></i><span class="bold">21h30:</span> Miguel Araújo</p>
    <p class="dark_text"><i class="fa fa-circle music_zone" aria-hidden="true" style="padding-right: 20px;"></i><span class="bold">23h00:</span> Jamie Cullum</p>
    <p class="dark_text"><i class="fa fa-circle music_zone" aria-hidden="true" style="padding-right: 20px;"></i><span class="bold">00h30:</span> DJ Carlos Vargas</p>
    <p class="dark_text"><span class="bold" style="padding-left: 37px;">02h00:</span> Encerramento de portas</p>
  </div>

  <p style="margin-top:60px; text-align:right; font-size:16px;">
    <i class="fa fa-circle music_zone" aria-hidden="true"></i><span class="dark_text" style="padding-right: 20px;"> Groove Music</span>
    <i class="fa fa-circle kids_zone" aria-hidden="true"></i><span class="dark_text" style="padding-right: 20px;"> Groove Kids</span>
    <i class="fa fa-circle organic_zone" aria-hidden="true"></i><span class="dark_text" style="padding-right: 20px;"> Organic Groove</span>
    <i class="fa fa-circle being_zone" aria-hidden="true"></i><span class="dark_text" style="padding-right: 20px;"> Being Groove</span>
  </p>

  <div class="program_info">
    <p class="dark_text">O Cascais GROOVE é um festival para todos! No Groove by day (apenas 25 e 26 de Junho) temos uma programação a pensar nos adultos e nas crianças. Durante o dia (apenas dias 25 e 26), entre as as 09h00 e as 16h30 temos um programa completo, com atividades para toda a família.</p>
    <p class="dark_text">As crianças até aos 10 anos não pagam e os adultos pagam 7€.</p>
    <p class="dark_text">O bilhete do Groove by night é válido para o respetivo dia do Groove by day, no entanto caso as crianças queiram assistir aos concertos terão que adquirir bilhete do Groove by night, tal como os adultos. O bilhete do Groove by day NÃO é válido para nenhum dia do Groove by night. Mais informações <%= link_to('aqui', information_path) %>!</p>
  </div>
</div>

<script>

  $('.button_day_1').click(function() {
    $('.day_1').addClass('display_program');
    $('.day_2').removeClass('display_program');
    $('.day_3').removeClass('display_program');

    $('.day_1').removeClass('no_display_program');
    $('.day_2').addClass('no_display_program');
    $('.day_3').addClass('no_display_program');

    $('.button_day_1').addClass('underline');
    $('.button_day_2').removeClass('underline');
    $('.button_day_3').removeClass('underline');
  });

  $('.button_day_2').click(function() {
    $('.day_1').removeClass('display_program');
    $('.day_2').addClass('display_program');
    $('.day_3').removeClass('display_program');

    $('.day_1').addClass('no_display_program');
    $('.day_2').removeClass('no_display_program');
    $('.day_3').addClass('no_display_program');

    $('.button_day_1').removeClass('underline');
    $('.button_day_2').addClass('underline');
    $('.button_day_3').removeClass('underline');
  });

  $('.button_day_3').click(function() {
    $('.day_1').removeClass('display_program');
    $('.day_2').removeClass('display_program');
    $('.day_3').addClass('display_program');

    $('.day_1').addClass('no_display_program');
    $('.day_2').addClass('no_display_program');
    $('.day_3').removeClass('no_display_program');

    $('.button_day_1').removeClass('underline');
    $('.button_day_2').removeClass('underline');
    $('.button_day_3').addClass('underline');
  });

</script>
